#body{
  margin: 0 auto;
  display:flex;
  flex-direction:column;
  justify-content:top;
  align-items:center;
  padding:20px 0px 20px;
  border: 1px black solid; 
  width:35%;
  min-width:450px;
  height:600px;
}

#display{
    display:flex;
    justify-content:right;
    align-items:center;
    font-size:32px;
    padding:10px 30px 10px;
    width:80%;flex:1;
    border:1px rgb(0, 0, 0) solid;
}

#buttons{
    display:flex;
    width:94%;flex:5;
    padding:10px 0px 10px;
    
}

#numberpad{
    display:flex;
    flex-wrap:wrap;
    flex:3;
    padding:0px 0px 0px;
    justify-content:center;
    border:1px rgb(0, 0, 0) solid; 
}

#operatorbtns{
    display:flex;
    flex:1;
    flex-wrap:wrap;
    
}

.numbers{
    display:flex;
    justify-content:center;
    align-items:center;
    width:32%;
    height:24%;
    border:1px rgb(0, 0, 0) solid; 
    color: black; 
    background: white;
    font-size:32px;
}


.operators{

    border:1px rgb(0, 0, 0) solid;
    width:94%;
    font-size:32px;
    display:flex;
    justify-content:center;
    align-items:center;



}